pipeline/pl_Multipleexcel.json
{
	"name": "pl_Multipleexcel",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Variables')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "azureblob//stock_price_id.xlsx"
								},
								{
									"name": "Destination",
									"value": "dbo.StockEvaluation"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Ticker",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ticker",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "stockdt",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "Open",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "openprice",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "High",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "highprice",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Low",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "lowprice",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Close",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "closeprice",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Volume",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "volume",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MultipleExcelSheet",
									"type": "DatasetReference",
									"parameters": {
										"dsSheetName": {
											"value": "@item().SheetName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StockEvaluation",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Sp_StockEvaluation_IncrementalLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Sp_Cleanup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PrStockChurn]"
				},
				"linkedServiceName": {
					"referenceName": "StockEvaluation",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_Cleanup",
				"description": "remove nulls",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_cleanup]"
				},
				"linkedServiceName": {
					"referenceName": "StockEvaluation",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Variables": {
				"type": "Array",
				"defaultValue": [
					{
						"SheetName": "Apple Stocks"
					},
					{
						"SheetName": "Facebook Stocks"
					},
					{
						"SheetName": "Netflix Stocks"
					},
					{
						"SheetName": "TESLA Stocks"
					},
					{
						"SheetName": "Amazon Stocks"
					},
					{
						"SheetName": "Google Stocks"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-05T03:13:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}